{% extends 'base.html.twig' %}

{% block title %}Hello PostsController!{% endblock %}

{% block body %}

    <h1>Posts Index Page</h1>
    <table  class="table">
        <tr>
            <th>Id</th>
            <th>Content</th>
            <th>Action</th>
        </tr>
        {% for post in posts %}
            <tr>
                <th>{{ post.id }}</th>
                <th>{{ post.content }}</th>
                <th>
                    <a href="#" class="btn btn-danger">Delete</a>
                    <a href="{{ path('show_post', {id:post.id}) }}" class="btn btn-success">Details</a>
                </th>
            </tr>
        {% endfor %}
    </table>
{% endblock %}