{% extends 'base.html.twig' %}

{% block title %}Create a new post{% endblock %}

{% block body %}
<h1>Update a post</h1>

{{ form_start(post_form) }}
{{ form_widget(post_form) }}
<button type="submit" class="btn btn-primary">Update</button>
{{ form_end(post_form) }}
{% endblock %}